/Project1\ -\ Bike\ Sharing\ Demand\ Prediction\ with\ AutoGluon/model_test_score.png
/Project1\ -\ Bike\ Sharing\ Demand\ Prediction\ with\ AutoGluon/model_train_score.png

/Project1\ -\ Bike\ Sharing\ Demand\ Prediction\ with\ AutoGluon/Project1.zip

/Project3\ -\ CNN\ prediction\ on\ CIFAR10\ dataset/Starters/**

/Project4\ -\ Building\ an\ ML\ Workflow\ with\ AWS\ services/20231017_fady-ebeid_project-04-starter.tar

/Project4\ -\ Building\ an\ ML\ Workflow\ with\ AWS\ services/project-04-starter/**

/Project3\ -\ CNN\ prediction\ on\ CIFAR10\ dataset/Submission/project-3/checkpoints/**